name: Sync-Fork
# 調度方式：每天早上 10 點
on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git remote add upstream https://github.com/realvizu/NsDepCop.git
      - run: git fetch upstream
      - run: git checkout master && git merge upstream/master && git push origin master
